<header>
  <div class="header-content">
    <h1>Front End Developer</h1>
    <nav>
      <ul class="navbar">
        <li class="dropdown">
          <a href="#" class="dropbtn"><i class="fa-solid fa-grip-lines"></i></a>
          <div class="dropdown-content">
            <a href="<%= summary_path %>">Summary</a>
            <a href="<%= experience_path %>">Experience</a>
            <a href="<%= skills_path %>">Skills</a>
            <a href="<%= projects_path %>">Projects</a>
            <a href="<%= education_path %>">Education</a>
            <a href="<%= contact_path %>">Contact</a>
            <a href="https://www.linkedin.com/in/yourprofile" target="_blank">LinkedIn</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
